# Assignment 16

# 1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

## Answer
### year_list=[1996,1997,1998,1999,2000,2001]

In [1]:
year_list=[1996,1997,1998,1999,2000,2001]

# 2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

## Answer
### year_list[2]
### 1998

In [2]:
year_list[2]

1998

# 3.In the years list, which year were you the oldest?

## Answer
### years_list[-1]
### 2001

In [4]:
year_list[-1]

2001

# 4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

## Answer
###  things = ['mozzarella','cindrella','salmonella']

In [5]:
 things = ['mozzarella','cindrella','salmonella']

# 5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

## Answer

In [11]:
things = ['mozzarella','cindrella','salmonella']
things = [i.capitalize() for i in things]
print(things)

## Yes it did.

['Mozzarella', 'Cindrella', 'Salmonella']

# 6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

## Answer

### surprise = ['Groucho','Chico','Harpo']

In [14]:
surprise = ['Groucho','Chico','Harpo']

# 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

## Answer

In [32]:
Var1 = surprise[-1]           # last element
Var2 = Var1.lower()           # lowering the last element
Var3 = list(Var2)             # passing string to list
Var3.reverse() 
Var4 = ''.join(Var3)          #after reversing converting to string
Var5 = Var4.capitalize()      # capitalizing the element
surprise[-1] = Var5           # saving the element into surprise last element place
    
print(surprise)               #this print the list

['Groucho', 'Chico', 'Oprah']

# 8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

## Answer

In [37]:
e2f = {
        'dog' : 'chien',
        'cat' : 'chat',
        'walrus' :'morse'
      }

e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

# 9. Write the French word for walrus in your three-word dictionary e2f.

## Answer

In [43]:
e2f['walrus']
print('walrus will fetch '+ str(e2f['walrus'])+ ' which is the french word')

walrus will fetch morse which is the french word

# 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

## Answer

In [41]:
f2e = {}                      ##  empty dict

for key,value in e2f.items():  
    f2e[value] = key          ### setting values

print(f2e)                   ### printing new dict

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

# 11. Print the English version of the French word chien using f2e.

## Answer

In [42]:
print('English version of the French word chien ' + f2e['chien'])

English version of the French word chien dog

# 12. Make and print a set of English words from the keys in e2f.

## Answer

In [47]:
var=[]

for elements in e2f.keys():
    var.append(elements)  ### appending to the empty list var
    
print(set(var))  ## type casting list 2 set.

{'dog', 'cat', 'walrus'}

# 13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

## Answer

In [51]:
life =  {
    
         'animals' :  {
                         'cats' : ['Henri','Grumpy','Lucy'],
                         'octopi':{},
                         'emus': {}
                      },
    
        'plants' :{},
        'other' : {}

        
        }

life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

# 14. Print the top-level keys of life.

## Answer

### life.keys() will print top level keys

In [52]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

# 15. Print the keys for life['animals'].

## Answer

In [53]:
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

# 16. Print the values for life['animals']['cats']

## Answer

### life['animals']['cats'] will print the cats values.

In [54]:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']