# SQL Assignment 10

# Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

###  Answer

### SELECT MAX(Salary)  FROM( SELECT * FROM Worker ORDER BY Salary DESC)
### ROWNUM <= 5 ;

# Q-20. Write an SQL query to fetch the list of employees with the same salary.

### Answer 

### Select distinct W.WORKER_ID, W.FIRST_NAME, W.Salary from Worker W, Worker W1 
### where W.Salary = W1.Salary and  W.WORKER_ID != W1.WORKER_ID ;