# Assignment 23 Python programming.

## Question 1

### Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

# Answer

In [110]:
def is_symmetrical(int):
    try:
        a=str(int)
        
        b=str(int)[::-1]
        
        if a==b:
            return True
        
        else :
            return False
        
    except Exception as e:
        
        print('There is an error ')

In [20]:
is_symmetrical(7227)

True

In [21]:
is_symmetrical(12567)

False

In [22]:
is_symmetrical(44444444)

True

In [23]:
is_symmetrical(9939)

False

In [24]:
is_symmetrical(1112111)

True

## Question 2

### Given a string of numbers separated by a comma and space, return the product of the numbers.

Examples

multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

# Answer

In [108]:
def multiply_nums(str):
    try:
        import numpy as np
        
        lst=[]
        
        for i in str.split(sep=', '):
            
            lst.append(int(i))
            
        return np.prod(lst)
    
    except Exception as e:
        print('There is an error ')

In [109]:
multiply_nums("2, 3")

6

In [48]:
multiply_nums("1, 2, 3, 4")

24

In [49]:
multiply_nums("54, 75, 453, 0")

0

In [50]:
multiply_nums("10, -2")

-20

## Question 3

### Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes

The function receives an integer and must return an integer.

# Answer

In [74]:
def square_digits(int1):
    try:
        str1=str(int1) # type casting the int to str 
        list1=[]   # empty list later to append
        
        for i in str1:
            num=int(i) # type casting each character from str to int
            
            list1.append(str(num**2)) # appending the str of the square value of each character to list1
        
        str2=''.join(list1) # joining the list
        
        return int(str2) # type casting the int to str
    
    except Exception as e:
        print('There is an error ')

In [75]:
square_digits(9119)

811181

In [76]:
square_digits(2483)

416649

In [77]:
square_digits(3212)

9414

## Question 4

### Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

# Answer

In [106]:
def setify(list):
    try:
        res = []  # empty list later to append
        
        for i in list:
            
            if i not in res:
                res.append(i)
        
        res.sort()  ## sorting the list after removing the duplicates
        
        return res
    
    except Exception as e:
        print('There is an error ')

In [107]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [92]:
setify([4, 4, 4, 4])

[4]

In [93]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [94]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

## Question 5

### Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes
-	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 
  512 is (5+1+2)/3(number of digits) = 8/3=2).

-	The mean will always be an integer.

# Answer

In [104]:
def mean(int1):
    
    try:
        l=[]   # empty list later to append
        
        str1=str(int1) # type casting the int to str
        
        for i in str1:
            num=int(i)  # type casting each character from str to int
            l.append(num)
        
        return sum(l)//len(l) # returning the mean value
    
    
    except Exception as e:
        print('There is an error ')

In [105]:
mean(42)

3

In [101]:
mean(12345)

3

In [102]:
mean(666)

6