# Assignment 17

# Question1.


Create a function that takes three arguments a, b, c and returns the sum of the numbers that are evenly divided by c from the range a, b inclusive.
Examples
evenly_divisible(1, 10, 20) ➞ 0
# No number between 1 and 10 can be evenly divided by 20.

evenly_divisible(1, 10, 2) ➞ 30
# 2 + 4 + 6 + 8 + 10 = 30

evenly_divisible(1, 10, 3) ➞ 18
# 3 + 6 + 9 = 18

# Answer

In [39]:
def evenly_divisible(a,b,c):
    
    list1=[]
    
    list1.append([i for i in range(a,b+1) if i%c==0 ])
    
    if sum(list1[0])!=0:
        
        return sum(list1[0])
    
    else:
        
        return "No number between 1 and 10 can be evenly divided by "+ str(c)

In [41]:
evenly_divisible(1, 10, 20)

'No number between 1 and 10 can be evenly divided by 20'

In [40]:
evenly_divisible(1, 10, 2)

30

In [42]:
evenly_divisible(1, 10, 3)

18

# Question2. 
Create a function that returns True if a given inequality expression is correct and False otherwise.

Examples

correct_signs("3 < 7 < 11") ➞ True

correct_signs("13 > 44 > 33 > 1") ➞ False

correct_signs("1 < 2 < 6 < 9 > 3") ➞ True

# Answer

In [6]:


def correct_signs(a):

    regex=eval(a)

    if regex:

        return True

    else:
        return False

In [7]:
correct_signs("3 < 7 < 11")

True

In [8]:
correct_signs("13 > 44 > 33 > 1")

False

In [9]:
correct_signs("1 < 2 < 6 < 9 > 3")

True

# Question3. 
Create a function that replaces all the vowels in a string with a specified character.

Examples

replace_vowels("the aardvark", "#") ➞ "th# ##rdv#rk"

replace_vowels("minnie mouse", "?") ➞ "m?nn?? m??s?"

replace_vowels("shakespeare", "*") ➞ "sh*k*sp**r*"

# Answer

In [89]:
def replace_vowels(str1,arg):
    
    vows=['a','e','i','o','u']
    
    for i in str1:
        
        if i in vows:
            
            str1=str1.replace(i,str(arg))
    
    return str1

In [92]:
replace_vowels("shakespeare", "*")

'sh*k*sp**r*'

In [91]:
replace_vowels("minnie mouse", "?")

'm?nn?? m??s?'

In [90]:
replace_vowels("the aardvark", "#")

'th# ##rdv#rk'

# Question4. 
Write a function that calculates the factorial of a number recursively.

Examples

factorial(5) ➞ 120

factorial(3) ➞ 6

factorial(1) ➞ 1

factorial(0) ➞ 1

# Answer

In [73]:
def recur_factorial(n):
    if n < 0:
         print("Sorry, factorial does not exist for negative numbers")
    
    elif n == 0:
         return 1
    
    elif n == 1:
        return n
    
    else:
        return n*recur_factorial(n-1)

In [74]:
recur_factorial(5)

120

In [75]:
recur_factorial(3)

6

In [76]:
recur_factorial(1)

1

In [77]:
recur_factorial(0)

1

# Question 5

Hamming distance is the number of characters that differ between two strings.
To illustrate:

String1: "abcbba"

String2: "abcbda"

Hamming Distance: 1 - "b" vs. "d" is the only difference.

Create a function that computes the hamming distance between two strings.

Examples

hamming_distance("abcde", "bcdef") ➞ 5

hamming_distance("abcde", "abcde") ➞ 0

hamming_distance("strong", "strung") ➞ 1

## Answer

In [1]:

def hamming_distance(str1, str2):
    
    i = 0
    
    count = 0
    
    while i < len(str1):
        
        if str1[i] != str2[i]:
            
            count += 1
            
        i += 1
    
    return count

In [2]:
hamming_distance("abcde", "bcdef")

5

In [3]:
hamming_distance("abcde", "abcde")

0

In [4]:
hamming_distance("strong", "strung")

1